[Desktop Entry]
Icon=text-html
Name=oxygen-crystal-diamond-lnf
Type=Link
URL[$e]=https://github.com/gericom-hummer/oxygen-crystal-diamond-lnf
X-KDE-LastOpenedWith=firefox
